
# Default ignored files
/.idea.WebApplication2/.idea/workspace.xml
# Datasource local storage ignored files
/.idea.WebApplication2/.idea/dataSources/
/.idea.WebApplication2/.idea/dataSources.local.xml